<!DOCTYPE html>
<html>

<head>
    <title>Article Details</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <h1>Article Details</h1>
    <p>ID: <%= article.id %>
    </p>
    <p>Title: <%= article.title %>
    </p>
    <a href="/articles">Back to Articles List</a>
</body>

</html>