<!DOCTYPE html>
<html>

<head>
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <h1>Articles List</h1>
    <ul>
        <% articles.forEach(function(article) { %>
            <li><a href="/articles/<%= article.id %>">
                    <%= article.title %>
                </a></li>
            <% }); %>
    </ul>
    <a class="nav-link" href="/">Go to Home</a>
</body>

</html>